
.hdr{
   text-align: center;
   font-size: 40px;
   overflow: hidden;
   position: relative;
   top: 3px;
}

.fld{  
    /* background-image: linear-gradient(to bottom, blue, violet );  */
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border-radius: 1px 555px 1px 555px;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%);
    width: 600px;
    border: none;
    z-index: 3;
}

.mid{
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    width: 500px;
    height: 550px;
    position: absolute;
    left: 54.34%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0 0 365px 0;
}

#setto{
    border: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 #setto li{
    list-style: none;
 }


#setto li input{
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 15px 0 15px 0;
    color: black;
}

#setto li select{
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 15px 0 15px 0;
    color: black;
}

#setto h2{
    font-size: 20px;
    position: relative;
    right: 25px;
    
    background: linear-gradient(to right, rgba(7, 15, 17, 0.397), rgba(4, 16, 20, 0.356));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#area{
    border: none;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    position: absolute;
    left: 6%;
    bottom: 22%;
    resize: none;
    border-radius: 0 15px 15px 15px;
}

#enviar{
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    border: none;
    position: absolute;
    bottom: 5px;
    border-radius: 555px ;
    width: 52px;
    transition: 0.3s;
}

#limpar{   
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    border: none;
    position: absolute;
    bottom: 5px;
    right: 73%;
    border-radius: 555px;
    width: 52px;
    transition: 0.3s;
}

#enviar:hover{ 
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255, 255, 0.178));
    backdrop-filter: blur(10px);
    width: 58px;
}
#limpar:hover{ 
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255, 255, 0.178));
    backdrop-filter: blur(10px);
    width: 58px;
}

.nav div{
    height: 4px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.527), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.3s;
}

.nav{
    width: 30px;
    display: block;
    margin: 1em 0 0 1em;
   
}
.um{
    width: 30px;
}
.dois{
    width: 20px;
}
.tres{
    width: 25px;
}

.nav:hover div{
    width: 32px;
    background: linear-gradient(to right, rgba(7, 15, 17, 0.397), rgba(4, 16, 20, 0.356));
}


/* Media queries */

@media only screen and (min-width: 380px) {
    .fld{  
        /* background-image: linear-gradient(to bottom, blue, violet );  */
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255,255,255,0.18);
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        border-radius: 1px 555px 1px 555px;
        position: absolute;
        top: 4px;
        left: 45.9%;
        transform: translate(-50%);
        width: 89%;
        border: none;
        z-index: 1;
    }

    .mid{
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255,255,255,0.18);
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        width: 80.6%;
        height: 552px;
        position: absolute;
        left: 53%;
        top: 379px;
        transform: translate(-50%, -50%);
        border-radius: 0 0 135px 0;
    }

    #limpar{   
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: none;
        position: absolute;
        bottom: 5px;
        right: 60%;
        border-radius: 555px;
        width: 52px;
        transition: 0.3s;
    }

    
    #setto h2{
        font-size: 12.5px;
        position: relative;
        right: 25px;
        
        background: linear-gradient(to right, rgba(7, 15, 17, 0.797), rgba(4, 16, 20, 0.556));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #area{
        border: none;
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        position: absolute;
        left: 2.5%;
        bottom: 15%;
        width: 80%;
        resize: none;
        border-radius: 0 15px 15px 15px;
    }
    .nav{
        width: 30px;
        display: block;
        margin: 1em 0 0 1em;
        position: absolute;
        top: 1%;
        z-index: 2;
        
    }

  }




@media only screen and (min-width: 600px) {
    .fld{  
        /* background-image: linear-gradient(to bottom, blue, violet );  */
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255,255,255,0.18);
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        border-radius: 1px 555px 1px 555px;
        position: absolute;
        top: 4px;
        left: 40.9%;
        transform: translate(-50%);
        width: 65%;
        border: none;
        z-index: 3;
    }

    .mid{
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255,255,255,0.18);
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        width: 53.6%;
        height: 548px;
        position: absolute;
        left: 47.7%;
        top: 379px;
        transform: translate(-50%, -50%);
        border-radius: 0 0 135px 0;
    }

    #limpar{   
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: none;
        position: absolute;
        bottom: 5px;
        right: 60%;
        border-radius: 555px;
        width: 52px;
        transition: 0.3s;
    }
    #setto h2{
        font-size: 12.5px;
        position: relative;
        right: 25px;
        
        background: linear-gradient(to right, rgba(7, 15, 17, 0.797), rgba(4, 16, 20, 0.556));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #area{
        border: none;
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        position: absolute;
        left: 2.5%;
        bottom: 22%;
        resize: none;
        border-radius: 0 15px 15px 15px;
    }
    .nav{
        width: 30px;
        display: block;
        margin: 1em 0 0 1em;
        position: absolute;
        top: 8%;
        
    }

  }




@media only screen and (min-width: 768px) {
    .fld{  
        /* background-image: linear-gradient(to bottom, blue, violet );  */
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255,255,255,0.18);
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        border-radius: 1px 555px 1px 555px;
        position: absolute;
        top: 4px;
        left: 46.1%;
        transform: translate(-50%);
        width: 47.8%;
        border: none;
        z-index: 3;
    }

    .mid{
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255,255,255,0.18);
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        width: 41.7%;
        height: 548px;
        position: absolute;
        left: 50.5%;
        top: 379px;
        transform: translate(-50%, -50%);
        border-radius: 0 0 205px 0;
    }

    #limpar{   
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: none;
        position: absolute;
        bottom: 5px;
        right: 60%;
        border-radius: 555px;
        width: 52px;
        transition: 0.3s;
    }
    #setto h2{
        font-size: 14px;
        position: relative;
        right: 25px;
        
        background: linear-gradient(to right, rgba(7, 15, 17, 0.797), rgba(4, 16, 20, 0.556));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #area{
        border: none;
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        width: 85%;
        position: absolute;
        left: 5.5%;
        bottom: 22%;
        resize: none;
        border-radius: 0 15px 15px 15px;
    }

    .nav{
        width: 30px;
        display: block;
        margin: 1em 0 0 1em;
        position: absolute;
        top: 1px;
        
    }

  }


  @media only screen and (min-width: 1024px) {
    .fld{  
        /* background-image: linear-gradient(to bottom, blue, violet );  */
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255,255,255,0.18);
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        border-radius: 1px 555px 1px 555px;
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translate(-50%);
        width: 45.8%;
        border: none;
        z-index: 3;
    }

    .mid{
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255,255,255,0.18);
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        width: 40.7%;
        height: 548px;
        position: absolute;
        left: 53.4%;
        top: 379px;
        transform: translate(-50%, -50%);
        border-radius: 0 0 265px 0;
    }

    #area{
        border: none;
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        width: 75%;
        position: absolute;
        left: 5.5%;
        bottom: 22%;
        resize: none;
        border-radius: 0 15px 15px 15px;
    }

    #limpar{   
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: none;
        position: absolute;
        bottom: 5px;
        right: 65%;
        border-radius: 555px;
        width: 52px;
        transition: 0.3s;
    }


    .nav{
        width: 30px;
        display: block;
        margin: 1em 0 0 1em;
        position: absolute;
        top: 1px;
        
    }

  }
  
  @media only screen and (min-width: 1600px) {
    .fld{  
        /* background-image: linear-gradient(to bottom, blue, violet );  */
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255,255,255,0.18);
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        border-radius: 1px 555px 1px 555px;
        position: absolute;
        top: 4px;
        left: 49.5%;
        transform: translate(-50%);
        width: 31.4%;
        border: none;
        z-index: 3;
    }

    .mid{
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255,255,255,0.18);
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        width: 28.7%;
        height: 548px;
        position: absolute;
        left: 51.3%;
        top: 385px;
        transform: translate(-50%, -50%);
        border-radius: 0 0 365px 0;
    }

    #limpar{   
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        border: none;
        position: absolute;
        bottom: 5px;
        right: 73%;
        border-radius: 555px;
        width: 52px;
        transition: 0.3s;
    }

    .nav{
        width: 30px;
        display: block;
        margin: 1em 0 0 1em;
        position: absolute;
        top: 1px;
        
    }

  }
